<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="js/script.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="images/stupid-logo.png">
  <link rel="stylesheet" href="css/real-style.css">
  <link rel="stylesheet" href="css/style.css" />
  <title>😏</title>
</head>

<body>
  <div class="hero_area">
    <header class="header_section">
      <div class="container-fluid">
            <a href="Home.html">
            <img src="images/lugu.png" alt="Logo">
            </a>
            <div class="header-buttons">
              <button class="header-button"><a href="ReadMore.html">About us</a></button>
              <button class="header-button"><a href="Gallery.html">Gallery</a></button>
              <button class="header-button"><a href="https://youtu.be/oJDtiuBX1XY">Investor video</a></button>
              <button class="header-button"><a href="http://127.0.0.1:8000/login">Login</a></button>                    
          </a>
        </div>
    </header>

<!-- header section -->
<div class="hero-section">
  <img src="images/hero-bg.jpg" alt="Hero Background Image" class="hero-bg">
  <div class="header-content">
    <h2>WELCOME TO</h2>
    <h1>this crap</h1>
    <p>This is a very random site full of memes</p>
  </div>
</div>
<!-- end header section -->
    
  <!-- do section -->

  <section class="do_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          What we offer:
        </h2>
        <p>
          here are the things we offer on this site
        </p>
      </div>
      <div class="do_container">
        <div class="box arrow-start arrow_bg">
          <div class="img-box">
            <img src="images/d-1.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Memes
            </h6>
          </div>
        </div>
        <div class="box arrow-middle arrow_bg">
          <div class="img-box">
            <img src="images/d-2.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Cringe
            </h6>
          </div>
        </div>
        <div class="box arrow-middle arrow_bg">
          <div class="img-box">
            <img src="images/d-3.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Money
            </h6>
          </div>
        </div>
        <div class="box arrow-end arrow_bg">
          <div class="img-box">
            <img src="images/d-4.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Friends
            </h6>
          </div>
        </div>
        <div class="box ">
          <div class="img-box">
            <img src="images/d-5.png" alt="">
          </div>
          <div class="detail-box">
            <h6>
              Web devolepment
            </h6>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end do section -->

  <!-- who section -->

  <section class="who_section">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="img-box">
            <img src="images/who-img.png" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                WHO WE ARE?
              </h2>
            </div>
            <p>
              We are a bunch of random people with a lot of free time and no idea what it means to be normal.
              Together we wanted to create a fun site for all to be able to access and get the best memes possible
              and cheer them up. We want to make a strong community with our weird website.
            </p>
            <div>
              <a href="ReadMore.html">
                Read More
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  

  <!-- end who section -->


  <!-- work section -->
  <section class="work_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          CREATIVE IS GOOD
        </h2>
        <p>
          We have gathered a large selection of free to use memes, here are some of the ones we want to highlight
        </p>
      </div>
      <div class="work_container layout_padding2">
        <div class="box b-1">
          <img src="images/w-1.png" alt="">
        </div>
        <div class="box b-2">
          <img src="images/w-2.png" alt="">

        </div>
        <div class="box b-3">
          <img src="images/w-3.png" alt="">

        </div>
        <div class="box b-4">
          <img src="images/w-4.png" alt="">

        </div>
      </div>
    </div>
  </section>

  <!-- end work section -->

  <!-- client section -->
  <section class="client_section">
    <div class="container">
      <div class="heading_container">
        <h2>
          Basically:
        </h2>
      </div>
   </div>
  </section>


  <!-- target section -->
  <section class="target_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="detail-box">
            <h2>
              1000+
            </h2>
            <h5>
              Members
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="detail-box">
            <h2>
              20000+
            </h2>
            <h5>
              MEMES
            </h5>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="detail-box">
            <h2>
              3 + 
            </h2>
            <h5>
              years online
            </h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end target section -->


  <!-- contact section -->

        <section class="contact_section layout_padding">
          <div class="container">
              <div class="heading_container">
                  <h2>Wish to join?</h2>
                  <a>Write an application here:</a>
              </div>
              <div class="">
                  <div class="">
                      <div class="row">
                          <div class="col-md-9 mx-auto">
                              <div class="contact-form">
                                  <form id="contactForm">
                                      <div>
                                          <input type="text" placeholder="Full Name" id="name">
                                      </div>
                                      <div>
                                          <input type="email" placeholder="Email Address" id="email">
                                      </div>
                                      <div>
                                          <input type="text" placeholder="Subject" id="subject">
                                      </div>
                                      <div>
                                          <textarea placeholder="Message" class="input_message" id="message"></textarea>
                                      </div>
                                      <div class="d-flex justify-content-center">
                                          <button id="btn" type="submit" class="btn_on-hover">Send</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="map_img-box">
        <img src="images/map-img.png" alt="">
      </div>
    </div>
  </section>


  <!-- end contact section -->


  <!-- info section -->
  <section class="info_section ">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              Contact info
            </h5>
            <div>
              <div class="img-box">
                <img src="images/location-white.png" width="18px" alt="">
              </div>
              <p>
                Quandale Dingle street 6
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="images/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                +360 21 069 420
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="images/envelope-white.png" width="18px" alt="">
              </div>
              <p>
                freeRobux4fun@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Information
            </h5>
            <p>
              If you need information or context on some of our memes, you can ask on the right with you gmail and a picture of the meme in question.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <p>
          </p>
        </div>
        <div class="col-md-3">
          <div class="info_form">
            <h5>
              Context
            </h5>
            <form id="contextForm">
              <input type="email" id="emailInput" placeholder="Enter your email">
              <input type="file" id="imageInput" accept="image/png, image/jpeg">
              <button type="button" onclick="sendContext()">Send</button>
            </form>
            <div class="social_box">
              <a href="https://www.instagram.com/the_epic_brawler_gaming/">
                  <img src="images/fb.png" alt="Instagram">
              </a>
              <a href="https://twitter.com/EpicbrawlerGam1">
                  <img src="images/twitter.png" alt="Twitter">
              </a>
              <a href="https://www.youtube.com/channel/UCTwymeqH_XxxLNPP0mQxw-A">
                  <img src="images/youtube.png" alt="YouTube">
              </a>
              <a href="https://www.tiktok.com/@epic.brawler.gami?lang=en">
                <img src="images/tik.png" alt="TikTok">
            </a>
           </div>            
  <section class="container-fluid footer_section">
    <p>
      &copy; 2023 All Rights Reserved By
      <a href="https://youtu.be/dQw4w9WgXcQ">Rick</a>
    </p>
  </section>
  </section>
  <section class="color_button">
  <div class="color-generator">
    <button id="generateButton" aria-label="Generate New Color">Change color</button>
  </div>   
  </section>

  <script src="js/smtp.js"></script>
  <script>
    document.getElementById('contactForm').addEventListener('submit', function (e) {
        e.preventDefault();

        var name = document.getElementById('name').value;
        var email = document.getElementById('email').value;
        var subject = document.getElementById('subject').value;
        var message = document.getElementById('message').value;

        var body = 'Name: ' + name + '<br/>Email: ' + email + '<br/>Subject: ' + subject + '<br/>Message: ' + message;

        Email.send({
            Host : "smtp.elasticemail.com",
            SecureToken: "7e9c8781-def2-4b55-9501-59fa8789d6d8",
            To: 'verified-edgarsfreimanis12@gmail.com',
            From: "verified-edgarsfreimanis1234@gmail.com",
            Subject: "contact message",
            Body: body,
        }).then(function (message) {
            alert('Email sent successfully');
        }).catch(function (error) {
            console.error('Email not sent: ', error);
        });
    });
</script>
</body>
</html>