@import 'tailwindcss';
@import 'tailwindcss' layer(utilities);

@plugin '@tailwindcss/typography';
@plugin 'daisyui';
/* @plugin '@tailwindcss/forms'; */

/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; */

@theme {
  --font-sans:
    Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

[x-cloak] {
    display: none;
}
/*all this is for auto complete*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #D3D3D3 inset; 
    box-shadow: 0 0 0 30px #D3D3D3 inset;
    color: black; 
}

input:-webkit-autofill::first-line {
    color: black; 
}

/* app.css */
.navbar {
    @apply bg-white border-b border-gray-100;

}

@media (prefers-color-scheme: dark) {
    .navbar {
        @apply bg-gray-800 border-gray-700;
    }
}

.header {
    @apply bg-white border-b border-gray-100;
    
}

@media (prefers-color-scheme: dark) {
    .header {
        @apply dark:bg-blue-950 border-gray-700;
    }
}

.background {
    @apply bg-white border-b;
}

@media (prefers-color-scheme: dark) {
    .background {
        @apply dark:bg-blue-800;
    }
}
.h1 {
    @apply text-[40px];
}